.setting-section {
    padding: 20px 20px 48px 0px;
}

.setting-header {
    height: 44px;
    display: flex;
    align-items: center;
}

.setting-title p {
    font-size: 30px;
    font-weight: 600;
}

.setting-button-desktop {
    padding-top: 20px;
}

.button-design {
    background-color: #fff;
    font-weight: 600;
    font-size: 13px;
    color: #667085;
    border: none;
}

.button-design.active {
    color: #6941C6;
    border-bottom: 2px solid #6941C6;

}

.setting-form {
    padding: 30px;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.personal-info .personal-info-title .title {
    font-size: 14px;
    font-weight: 600;
    color: #101828;
    padding-bottom: 4px;
}

.personal-info .personal-info-title .title-text {
    font-size: 13px;
    font-weight: 500;
    font-size: 13px;
    color: #667085;
}

.personal-info button, .personal-info-buttons button {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin: 2px;
    color: #fff;
}

button.save {
    background-color: #6941C6;
    border: 1px solid #6941C6;

}

button.cancel {
    border: 1px solid #667085;
    color: #667085;
}

.name-input, .email-input {
    padding: 10px 0;
}

.name-input input {
    width: 200px !important;
    margin: 5px;
}

.email-input input {
    width: 415px !important;
    margin: 5px;
}

.input-box, .image-input-box, .select-box, .bio-edit {
    width: 100%;
    text-align: center;
}

.desktop-screen-label {
    display: flex;
    align-items: center;
}

.photo-label {
    display: flex;
    flex-direction: column;
}

.photo-label label {
    font-size: 15px;
}

.photo-label .photo-label-info {
    font-size: 12px;
}

.current-image {
    height: 100%;
    padding: 4px;
}

.current-image img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.file-upload {
    height: 120px;
    width: 360px;
    border: 2px solid #6941C6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-label label, .photo-label label, .email-label label {
    width: 210px;
}

.file-upload .icon-info {
    font-size: 13px;
}

.image-file-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.select-box select {
    height: 35px;
    width: 415px;
}

.bio-select-box {
    height: 35px;
    width: 205px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
}

.bio-text-editor {
    width: 215px;
    align-items: center;
    display: flex;
    justify-content: start;

}

.bio-textarea textarea {
    height: 100px;
    width: 410px;
    margin: 5px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
}

.button-icon {
    border: none;
    color: #98A2B3;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.portfolio {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.file-detail {
    display: flex;
    margin: 10px;
}

.file-type-icon {
    align-items: center;
    justify-content: center;
    display: flex;
}

.file-type-icon img {
    height: 30px;
    width: 30px;
}

.progress {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.portfolio-progress-bar-section {
    position: relative;
    margin: 15px 0;
}

.portfolio-progress-bar {
    height: 8px;
    width: 290px;
    background-color: #EAECF0;
    border-radius: 3px;
}

.portfolio-progress-bar-cover {
    position: absolute;
    top: 0;
    height: 8px;
    border-radius: 3px;
    background-color: #7F56D9;

}
.portfolio-progress-bar-cover.one{
    width: 290px !important;
}
.portfolio-progress-bar-cover.two{
    width: 220px !important;
}
.portfolio-progress-bar-cover.three{
    width: 150px !important;
}
.portfolio .file-upload {
    height: 120px;
    width: 410px;
    border: 2px solid #EAECF0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.file-upload .icon img{
    height: 22px;
    width: 22px;
}
.personal-info-buttons{
    text-align: end;
}