body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  transition: all 0.5s ease-in-out !important;
}

.container {
  display: flex;
}

.d-flex {
  display: flex !important;
}

p {
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-section {
  position: relative;
  margin: 15px 0;
}

.progress-bar {
  height: 8px;
  width: 200px;
  background-color: #EAECF0;
  border-radius: 3px;
}

.progress-bar-cover {
  position: absolute;
  top: 0;
  height: 8px;
  width: 100px;
  border-radius: 3px;
  background-color: #7F56D9;

}

.j-space-between {
  justify-content: space-between;
}

.sidebar-title p {
  font-size: 14px;
  font-weight: 600px;
  color: #344054;

}

select {
  border: none !important;
  padding: 0px 0px 0px 10px !important;
  font-weight: 600;
  font-size: 14px;
  margin: 0 !important;
  text-transform: capitalize;
  color: #344054;
}

.user-profile {
  padding-bottom: 20px;
}

.user-button {
  border: none !important;
  background-color: transparent !important;
  color: #475467;
  font-size: 13px;
  font-weight: 600 !important;
}

.user-button:last-child {
  color: #7F56D9;
}

.user-image img {
  height: 40px;
  width: 40px;
}

.user-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-title {
  font-weight: 600;
  font-size: 16px;
  color: black;
  padding: 0 5px 0 20px;
}

.logo img {
  height: 30px;
  width: 30px;
}

.fg--search {
  background: white;
  position: relative;
  width: 100%;
}

.fg--search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 20px;
  z-index: 2;
}

.fa-search {
  color: #667085 !important;
}

.fg--search input:focus+button .fa-search {
  color: #7F56D9;
}

.sidebar-bottom {
  margin-top: 50px;
}

.logo-title p {
  color: black;
  font-weight: 600;
  font-size: 30px;
  padding: 1px 4px;
}

.logo-section {
  padding-top: 20px;
}

.setting-section {
  width: 100%;
}

.sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
}

.sidebar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .sidebar a:hover {
  background-color: #ddd;
  color: black;
} */

/* .sidebar a.active {
  background-color: #04AA6D;
  color: white;
} */

.sidebar .icon {
  display: none;
}

.sidebar-item-icon i {
  color: #667085;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.setting-form {
  border-radius: 5px;
  padding: 20px;
}

.setting-header {
  display: flex;
  justify-content: space-between;
}

.setting-button-mobile {
  display: none;
}
.setting-button-desktop {
  border-bottom: 1px solid #EAECF0;
}
.setting-button-desktop, .desktop-screen-label {
  display: block;
}

.mobile-screen-label {
  display: none;
}

.name-input, .email-input, .responsive-align {
  display: flex;
}
@media screen and (max-width: 1060px) {

.logo-title p {
  color: black;
  font-weight: 600;
  font-size: 27px;
  padding: 1px 4px;
}
}
@media screen and (max-width: 1000px) {
  .file-detail {
    width: 100% !important;
  }

  .file-type-icon {
    width: 10%;
  }

  .file-progress {
    width: 75%;
  }

  .file-name {
    width: 100%;
  }

  .portfolio-progress-bar-section {
    width: 95%;
  }

  .portfolio-progress-bar {
    width: 100% !important;
  }

  .portfolio-progress-bar-cover.one {
    width: 100% !important;
  }

  .portfolio-progress-bar-cover.two {
    width: 80% !important;
  }

  .portfolio-progress-bar-cover.three {
    width: 30% !important;
  }

  .progress-percentage {
    width: 5%;
  }

  .bio-select-box, .bio-select-box select, .bio-textarea textarea, .portfolio .file-upload {
    width: 100% !important;
  }

  .sign-out-icon {
    color: #475467;
    margin-top: 10px;
    margin-left: 20px;
  }

  .sidebar a:not(:first-child) {
    display: none;
  }

  .fg--search {
    background: white;
    position: relative;
    width: 100% !important;
  }

  .setting-section {
    padding: 20px 0 48px 0px !important;
  }

  .setting-search {
    width: 90%;
  }

  .setting-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar a.icon {
    float: right;
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .file-upload {
    height: 120px;
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .setting-button-desktop, .desktop-screen-label {
    display: none !important;
  }

  .setting-button-mobile, .mobile-screen-label {
    display: block;
  }

  .mobile-screen-label {
    text-align: start;
    color: #344054;
    font-weight: 600;
    font-size: 14px;
  }

  .name-input input {
    width: 100% !important;
    margin: 5px;
  }

  .setting-form {

    padding: 20px;
  }

  .name-input, .email-input, .responsive-align {
    flex-direction: column;
  }

  .image-input-box {
    display: flex;

    flex-direction: column;
  }

  .email-input input {
    width: 100% !important;
    margin: 5px;
  }

  .select-box select {
    height: 35px;
    width: 100% !important;
  }

  .setting-button-mobile {
    margin-top: 60px;
    width: 90%;
    margin-bottom: 10px;
  }

  .personal-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .personal-info-buttons {
    text-align: start !important;
    padding: 10px 0;
  }

  .setting-button-mobile select {
    height: 35px;
    width: 100%;
    border: 1px solid #ccc !important;

  }

  .sidebar-bottom {
    margin-top: 0;
  }

  .sidebar.responsive {
    position: relative;
  }

  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .sidebar {
    width: 100%;
    display: block;
    height: 100%;
  }

  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .container, .setting-header {
    flex-direction: column;
  }

  .setting-header {
    display: flex;
    flex-direction: column;
  }
}

.bio-select-box select {
  width: 200px;
  height: 35px;
}

.bio-edit {
  justify-content: center;
}

.image-file-icon img {
  height: 30px;
  width: 30px;
}

.completed-icon {
  color: #7F56D9;
}

.trash-icon {
  color: #475467;
}